[2018-10-05 06:55] kptdobe opened #1 "Define Adobe I/O subset to be handled with Helix"
**Goals**
Define the list of pages / sites to be handled with Helix and draw a clear sitemap on how this will be integrated into Adobe I/O site.

**Expected outcomes**
- exhaustive list of pages / sites to be rendered by Helix
- path / entry point for each of the page / site (how / where does it integrate into the overall Adobe I/O site)
- if content for the pages / sites already exist: provide th

[2018-10-05 06:59] kptdobe opened #2 "Integrate Fastly in the Adobe I/O deployment"
** Goals **
Ground work for Helix to handle some of the Adobe I/O pages. This would require Fastly to be in the front of adobe.io. The exact list of todo has to be defined but should look like
- Create Fastly accounts and services
- Initiate DNS routing to Fastly

** Expected outcomes **
- Precise list of action items (to serve as documentation for next project)
- Fastly as CDN for Adobe I/O

[2018-10-08 16:09] trieloff commented on #2
@kptdobe I assume that this is not for the existing site, but the new site. This means for now, we would only need the `new.adobe.io` domain name.

[2018-10-08 16:11] trieloff commented on #2
The hardest part is probably the DNS on boarding, I will need help from @kgera here.

[2018-10-08 16:13] kptdobe commented on #2
I think @davidnuescheler and @simonwex idea is to use Fastly in the front for Adobe I/O in general. But I let them confirm.

[2018-10-09 17:26] filmaj opened #3 "Add contribution guidelines"
at a minimum, these need to make explicit the need for external (non adobe employee) contributors to sign Adobe's CLA.

I will send a PR for this.

[2018-10-10 21:31] #3 closed

[2018-10-18 00:45] simonwex opened #5 "Create IA document"
Create a maintainable document that proposes a new IA for the current site content.

The goal with this document is to take it to the product owners andJen Gray who make up the IA governance group.

[2018-10-18 00:59] simonwex commented on #1
Launch product landing page and documentation are what we'll go with. Need to set up a call with the team. Would be good to do a treatment so we can go to the meeting with their content being rendered. Thoughts, @kptdobe?

[2018-10-18 11:55] kptdobe commented on #1
https://helpx.helix-demo.xyz/README.html is https://docs.adobelaunch.com/ rendered with Helix.
This is their old design (we built it before summer) but it should do the job.

Helix code repo: https://github.com/adobe/helix-helpx
Content repo: https://github.com/Adobe-Marketing-Cloud/reactor-user-docs

[2018-10-22 07:03] trieloff commented on #2
https://adobeio.primordialsoup.life is now online on Fastly. Service ID: `60uIaEGMhHzvppobXGEPbS`

[2018-10-22 07:05] trieloff commented on #2
The domain `www.adobe.io` is owned by another Fastly customer, I will try to figure out who it is.

[2018-10-23 15:05] simonwex opened #6 "[DRAFT] Investigate API Proxy for Getting Started Guides"

[2018-10-23 15:11] simonwex opened #7 "Discuss: How do we hide some documentation behind auth wall"
Most stakeholders have the requirement of having a beta program where a set of docs are only exposed to selected (authenticated) users. How will we do this with Helix?

[2018-10-23 15:12] simonwex commented on #7
Related: [Adobe.io Docs Proposal
](https://docs.google.com/document/u/1/d/1LtLIRWojG7HWRQLUuS0vG-qxS3nExIVjnn5IoscqVZQ/edit?usp=sharing)

[2018-10-23 15:18] simonwex opened #8 "[Launch API Docs] Render Launch API Docs in Helix - Go Live"
Goal: render  https://docs.adobelaunch.com/ with Helix

Content repo is https://github.com/Adobe-Marketing-Cloud/reactor-user-docs

[2018-10-24 07:34] trieloff commented on #7
Helix won't have productized support for closed user groups for the time being.

If you absolutely need them, it's best to implement them in the project, for example through a validation Cookie that will be evaluated through a strain condition.

[2018-10-24 12:53] kptdobe commented on #8
I created project https://github.com/adobe/Adobe-Developer-Site/projects/1 to organise all the todos related to the deployment of Launch API Docs with Helix.

[2018-10-24 12:58] kptdobe opened #9 "[Launch API Docs] Prepare code structure"
Goal
Prepare everything needed to start coding the project.

The [helpx](https://github.com/adobe/helix-helpx) project is the result of the first hackathon and was already an implementation of the Launch API Docs project.
The [project-helix.io](https://github.com/adobe/project-helix.io) project is an iteration of that project (code clean up, more features...).
Both projects code be used (copy/past

[2018-10-24 13:03] kptdobe opened #10 "[Launch API Docs] Implement latest design (look&feel)"
Goal
The Helix rendered site must look similar to the current production version (https://docs.adobelaunch.com/).
The helpx and project-helix.io implement the old look&feel, it needs to be updated.

The current production version is rendered with [GitBook](https://www.gitbook.com/). Re-using the production css will be hard because all the css classes have weird names. But there might be a way to f

[2018-10-24 13:08] kptdobe opened #11 "[Launch API Docs] Implement the search"
Goal
Reproduce with Helix the current search implementation.

Go to https://docs.adobelaunch.com/ and enter text in the search field: it opens a popup and shows the search results.
This is an explored pattern with some dynamicity we have never implemented until now.

cc @tripodsan @trieloff

[2018-10-24 13:10] kptdobe opened #12 "[Launch API Docs] Implement the "Contents" right panel"
Goal
Extended the current pre.js to compute the content of the right panel (list of heading).
Anchor will be needed for the navigation.

[2018-10-24 13:16] kptdobe opened #13 "[Launch API Docs] Implement bottom previous / next navigation"
Goal
Implement the previous / next navigation you can find at the bottom of each page (scroll at bottom of https://docs.adobelaunch.com)

[2018-10-24 13:20] kptdobe opened #14 "[Launch API Docs] Implement "Was this page helpful?""
Goal
Implement the "Was this page helpful?" icons that can be found at the bottom of https://docs.adobelaunch.com/.
We need first to understand what are these icons really doing (API call to GitBook, to something else ?...)

[2018-10-24 13:21] kptdobe opened #15 "[Launch API Docs] Implement the "Edit on Github" button"
Goal
Implement the "Edit on Github" button. Straight forward, compute the link to the correspond Markdown page and the button at the top of page.

[2018-10-24 14:48] trieloff commented on #11
The existing site is using Algolia for search and Algolia has been on my list of yet-to-explore things.

Algolia has built a Jekyll plugin https://github.com/algolia/jekyll-algolia that is using their API to feed their index. I could imagine doing something similar in a bot. One thing we need to figure out is how to deal with strains in Algolia, i.e. do we keep one index per strain, or do we keep

[2018-10-25 08:50] kptdobe commented on #9
Done with https://github.com/adobe/Adobe-Developer-Site/commit/be29276a576e98e6a0764ed8ff7f3f802d429398

[2018-10-25 08:50] #9 closed

[2018-10-25 17:07] simonwex commented on #5
Rendering of existing doc:
![image](https://user-images.githubusercontent.com/25260/47517644-b4a33680-d83d-11e8-88f9-5c844f4a250e.png)

[2018-10-25 17:08] simonwex commented on #5
Step 1 in evolution:
![image](https://user-images.githubusercontent.com/25260/47517682-d8667c80-d83d-11e8-96eb-9fc26e910e65.png)

[2018-10-25 17:11] simonwex commented on #5
V0.3

![image](https://user-images.githubusercontent.com/25260/47517844-43b04e80-d83e-11e8-93d9-b762a16a7fcf.png)

Still very much a work in progress.

[2018-10-25 19:56] lcrabb commented on #6
Not sure what this means and why it is important. Is it related to calling an API and seeing the response in-page?

[2018-10-25 20:53] ryanstewart commented on #5
One of my huge complaints about the current site is that "Documentation" isn't a top-level item. Nearly every developer site I come across has that as a top level item (developers.google.com being a notable example and may be a bigger conversation). In this flow, it looks like documentation is still 2 clicks away. I realize we've got some organizational strangeness going on, but I think this is a

[2018-10-25 21:05] cassiemc commented on #5
Here's a slightly adjusted IA file, feel free to comment directly on the design: https://xd.adobe.com/view/cd1e8ffb-3925-4cda-7baf-16a2b137e881-bb2f/screen/7541f587-93b3-43fa-a3c2-2713e1bb38c8/DevSite-IA-v0-1/

@ryanstewart That's probably where we want to get to, make the stuff that people want easy to get to! One of the things we're considering as we design (which may not be entirely obvious) is

[2018-10-25 21:36] lcrabb commented on #5
A few thoughts:
* I like the direction. Nice job so far.
* I agree with Cassie that Blog should be under Community.
* How do Forums and Support relate? I think of Forums as part of Support.
* Is there a way to reduce the number of clicks to get to API documentation? I don't have the answer but hoping we can find a way to organize many different products and make it intuitive for developers.

[2018-10-26 04:05] ktukker-adobe commented on #5
Hi team, good to see the thinking. The IA is very traditional. Adobe developers is a broad bucket. I would like to see it more actionable for a developer. For example Azure: https://docs.microsoft.com/en-us/azure/index?view=azure-cli-latest

Twitter developer: https://developer.twitter.com/content/developer-twitter/en.html

Google cloud: https://cloud.google.com/

The challenge that I see is that

[2018-10-26 09:45] kptdobe commented on #10
I looked at the various GitBook repos and could not find something we could reuse easily thus I started to implement the css myself. While having a basic similar look&feel is straight forward, I am not sure if re-building the GitBook styles but also features is really a good idea. And I am pretty sure at one point, we'll want to have our own homemade design even for the doc pages.

My proposal is

[2018-10-27 14:08] rofe commented on #15
@kptdobe you can assign this issue to me

[2018-10-29 15:05] davidnuescheler commented on #7
Definitely agree with @trieloff.

Specifically for the sake of tech documentation, personally, I believe that an unlinked (possibly hard to guess) URI is the best way forward. This provides roughly the same privacy as a shared password.

To get to a properly authenticated flow (in the case of the developer website probably through an Adobe ID entitlement) seems to be administratively overblown for

[2018-10-29 20:17] lcrabb commented on #7
One of the important use cases we were looking at was to provide access to internal-only content specifically to internal Adobe employees.  This is not specific to Launch or a pre-release program so may not be an immediate priority but it is still an important priority.

I'm not interested in creating a separate internal-only developer portal for internal developers when much of the content valuab

[2018-10-30 15:48] kptdobe commented on #10
We have a "good" basis to start with.
I do not want to invest more time in the design since I think it should evolve into something home made.

[2018-10-30 15:48] #10 closed

[2018-10-30 23:38] stevengill commented on #5
@ktukker-adobe That Azure page you linked took me a few clicks to find if I started at developers.microsoft.com.

Instead of using cloud.google.com as a comparable, why not https://developers.google.com/. This site takes a google developer perspective over product perspective. The nice thing about it though is that it highlights its products and makes it easy to go to the product developer page fo

[2018-11-01 09:05] kptdobe commented on #14
Won't do for now. Will wait for the new UX for the TechDoc before implementing such feature. Reopen if needed.

[2018-11-01 09:05] #14 closed

[2018-11-01 09:05] kptdobe commented on #13
Won't do for now. Will wait for the new UX for the TechDoc before implementing such feature. Reopen if needed.

[2018-11-01 09:05] #13 closed

[2018-11-01 14:11] kptdobe commented on #11
I had a quick look and you can easily create indexes: https://www.algolia.com/doc/api-client/javascript/getting-started/?language=javascript#init-index - It is smart enough to use an existing one or create a new one based on the name you give it.

But maintaining the indexes has nothing to do with the strains I think, it is content related. We would need an index per content branch:

* Every time

[2018-11-01 15:50] kptdobe commented on #11
Yes, but tech doc does not have sections. Or at least, they should not be calculated per thematic break but per header. Is the sectionifier extensible to cover this ?

[2018-11-01 17:06] trieloff commented on #11
No, but we can easily write something similar for creating one document per header, so that in a document that has headers like this: `h1 h2 h2 h3 h2 h3 h3 h2`, you would get following sections:

- `h1 h2 h2 h3 h2 h3 h3 h2`
- `h2`
- `h2 h3`
- `h3`
- `h2 h3 h3 h2`
- `h3`
- `h3`
- `h2`

The algorithm looks like this: visit all `headings` and for each heading create a new section. For each section, r

[2018-11-01 19:03] jenlgray opened #19 "Developer news sign up"
Create a developer news sign up on the homepage where a developer can sign up for news/updates and select content they are interested in (APIs, Creative Cloud, Magento, etc.).

This would need to plug in to Adobe's global unsubscribe list.

[2018-11-01 20:20] cassiemc opened #20 "META: Define Developer Site design process"
It'd be a good idea to lay out the design process so the team knows where we're at and can contribute accordingly. For each of these tasks I'll file more granular tickets if necessary. I'm sure the end process won't be this tidy or linear but this should give an overarching idea of how things might go in an ideal world. Some of this will include overlap with Console design work which won't be docu

[2018-11-02 16:46] kgera commented on #2
@trieloff have you managed to track that? Also, on a side note - does fastly verify the domain ownership?

[2018-11-02 16:47] lcrabb commented on #2
@trieloff any update on this?

[2018-11-05 08:21] trieloff commented on #2
I've opened a support ticket with Fastly http://fastly.zendesk.com/hc/requests/100106 before I went on vacation and received a message that the domain is now available, but trying this morning, this does not seem to be the case.

I've reopened the ticket and will keep you updated.

@kgera I also noticed that while `curl https://adobeio.primordialsoup.life` gives the correct response, there seems t

[2018-11-05 18:16] kgera commented on #2
Thanks @trieloff  @lcrabb Do you have domain ownership for www.adobe.io, my understanding was it is with @adrocknaphobia 's team.

[2018-11-06 18:16] jenlgray commented on #19
Emailed Dan Gebler and Seth Berman about how to ensure our list gets plugged into the Adobe-wide subscriber list and global unsubscribes.

[2018-11-07 22:18] davidnuescheler opened #23 "Mobile first CSS"
I just stumbled over some portions of the css that seemed to treat mobile as the special case.

I propose that we think of mobile as the *general* case and have desktop screen resolutions be the special case in media queries.

As for breakpoints (I already found 2 different breakpoints) I subscribe to https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 but i thin

[2018-11-09 20:06] trieloff commented on #2
`www2.adobe.io` and `www.adobe.io` are now part of the Fastly service config.

[2018-11-21 23:51] simonwex opened #32 "Hackathon: How do we write code and bring up services outside of Helix?"
There will be functionality of the site that doesn't lean on Helix. How do we want to structure this? Do we still want to use Helix for content in these cases? What services do we want to use? How do we ensure operational stability?

Big questions, let's start to answer them with a prototype.

![image](https://user-images.githubusercontent.com/25260/48873823-d17f4b00-eda4-11e8-8a98-0b1b928f1688.pn

[2018-11-22 00:05] simonwex opened #33 "Hackathon: Markdown extensions for Docs"
It is important that we keep the Markdown syntax as close to GFM as possible. This is to maintain the benefits of Markdown itself. Some teams have already extended it to provide for things like l10n and magic like notice blocks.

![Example from Audience Manager Docs](https://user-images.githubusercontent.com/25260/48874222-faa0db00-eda6-11e8-8325-ffcfe07b7198.png)

[Example from Audience Manager D

[2018-11-26 18:31] rofe opened #34 "No longer rewrite links from .md to .html"
Once https://github.com/adobe/hypermedia-pipeline/issues/25 is implemented
See also PR: https://github.com/adobe/hypermedia-pipeline/pull/120

[2018-11-28 09:40] rofe opened #36 "[Launch API Docs] use XML pipeline rendering for sitemap.xml"
Currently we render the `sitemap.xml` like html using a `pre.js` and `htl` template. The XML pipeline can take care of the rendering, all we have to do is provide an object in `payload.content.xml`.

Depends on [@adobe/helix-cli#334](https://github.com/adobe/helix-cli/issues/334)

[2018-12-04 22:57] simonwex opened #38 "Deliver Research Synthesis"
Conclude our first round of stakeholder interviews by synthesizing the results in a sharable document.

[2018-12-06 04:34] simonwex opened #41 "Create a slide deck"
Create slide deck for sharing take-aways from research phase.

[2018-12-06 05:47] simonwex opened #42 "Present Synthesis deck to stakeholders"
As part of wrapping up this phase, it'd be good to present our findings to our stakeholders.

[2018-12-11 16:05] kptdobe opened #45 "[Helix code] content.children is being deprecated, use content.document instead"
Pending task for https://github.com/adobe/helix-pipeline/issues/105

We need to get rid of `content.children` in the pre.js and htl files. We should use `content.document`.

Same exercise has been done for project-helix.io project, see adobe/project-helix.io@6fbfee5 and
adobe/project-helix.io@10c86cb

cc @filmaj

[2018-12-12 01:10] rofe commented on #36
Fixed by #29

[2018-12-12 01:10] #36 closed

[2018-12-12 18:40] stevengill opened #51 "Github rate limit reached for local development"
Unauthenticated github api requests are rate limited at 60 requests per hour. If we were authenticated, we could do 5000 per hour. [Source](https://developer.github.com/v3/#rate-limiting)

I ran into this limit while doing local development.

Suggestion: Let's allow users to set an environment variable with a github personal access token. `hlx up` would grab the variable and pass it along to the p

[2018-12-12 19:14] filmaj commented on #51
Shouldn't we file this in a helix project somewhere, probably cli?

[2018-12-12 20:44] macdonst opened #54 "Migrate adobeio/adobeio-documentation to AdobeDocs"
The https://github.com/adobeio/adobeio-documentation repository contains a number of folders. Each folder corresponds to a product's documentation that is displayed on adobe.io. We need to migrate this mono-repo into multiple repos under the AdobeDocs organization.

In order to accomplish this we will need to complete a number of tasks:

1. Create a repo for each folder in adobeio/adobeio-document

[2018-12-12 21:44] filmaj commented on #45
My spectrum branch on my fork has this in place now. As soon as we merge we can close this.

[2018-12-12 21:54] stevengill commented on #51
yes, of course. https://github.com/adobe/helix-cli/issues/380

[2018-12-12 21:54] #51 closed

[2018-12-13 00:44] rofe commented on #34
No longer needed

[2018-12-13 00:44] #34 closed

[2018-12-13 00:53] MattLusher commented on #54
Thanks for the list, Simon! I've got a meeting scheduled with Simon Wex tomorrow, because they're working out details on how the new Helix setup is going to work (it's the replacement for Kirby). I'll annotate this if need be with any additional steps we might need.

[2018-12-13 00:56] macdonst commented on #54
@MattLusher I'm sitting next to @simonwex right now and he's forwarded me the meeting invite. I think we can move forward with the splitting up of the repo before switching over to Helix. It'll probably be less risky to move in baby steps. Let's table that decision until tomorrow.

[2018-12-13 01:00] MattLusher commented on #54
@macdonst Ah, the advantage of locality! Good to know we can proceed with breaking up the repo. My next concerns are about matters related to managing the repo: specifically, who do we make collaborators and who should admins, and if there are any specific GitHub policies or configurations we should set. For instance, I made the stage branch the default on adobeio-documentation so that people who

[2018-12-13 01:34] filmaj commented on #45
OK, merged the branch we've been working on this week into master. This is now resolved.

[2018-12-13 01:34] #45 closed

[2018-12-13 01:39] filmaj commented on #15
The existing template has this working (from before this week's hackathon) - closing.

[2018-12-13 01:39] #15 closed

[2018-12-13 01:41] filmaj commented on #8
So the most recent push from this week's hackathon has resulted in:

- this repo's README being rendered on https://stage-developer.helix-demo.xyz/README.html
- the launch doc repo's markdown being rendered at https://stage-developer.helix-demo.xyz/docs/launch/README.html

[2018-12-13 01:41] #8 closed

[2018-12-13 01:42] filmaj opened #56 "Current site must specify file names + extensions"
Pretty sure this is a helix bug, but I'm not sure where that bug is being tracked!

[2018-12-13 01:43] macdonst commented on #54
@mattlusher yeah, we should talk about that stuff as well and make sure it gets included in https://github.com/AdobeDocs/docs-guidelines.

[2018-12-13 01:46] filmaj opened #57 "Summary.md (left side table of contents) only pulled from top-level / root strain / content repo"
This is probably a helix enhancement we need to land - multiple strains in helix (to support multiple content repositories) is a relatively new feature. However, only the top-level summary.md is being pulled in, regardless of which content repo is currently being rendered.

[2018-12-13 01:48] filmaj opened #58 "Helix static content sometimes yields random HTTP 500 responses"
Seems like a helix bug. @trieloff said he wants to debug this with us 😇

[2018-12-13 01:48] filmaj opened #59 "Post-deploy, first request to site is HTTP 500"
May be related to #58, but yeah. Push to master. Wait for CI to complete. Load the site. womp womp.

[2018-12-13 01:50] filmaj opened #60 "Finish making the left TOC spectrum friendly"
We started it. Didn't finish it. We should.

[2018-12-13 02:03] filmaj opened #61 "Running multiple strains locally (`hlx up`) no workie"
Due to us using bleeding edge multi-strain helix shtuff. So likely a helix bug/enhancement.

[2018-12-13 02:06] filmaj opened #62 "Sub-content scoped to subdirectories need proper URL rewriting"
If you visit e.g. https://stage-developer.helix-demo.xyz/docs/xd/README.html and click on "Quickstart Tutorial" from the intro paragraph, the URLs are not nested at the appropriate level for where the XD docs are hosted on the site (`/docs/xd`).

This either needs to be something Helix handles or we may be able to do this in the helix pipeline preprocessor.

[2018-12-13 07:46] filmaj commented on #59
I also noticed this was the case after a "long" break in the site being loaded. Like, we stopped hacking today, went to eat/get drunk, then when I came back to hotel, tried loading the site (https://stage-developer.helix-demo.xyz/README.html), and got the same error as immediately after a fresh deploy.

[2018-12-13 17:05] kptdobe commented on #56
I do not understand the pb :)

[2018-12-13 17:07] filmaj commented on #56
The `directoryIndex` config property does not seem to work - I _must_ specify the filename+ending, e.g. https://stage-developer.helix-demo.xyz/README.html vs. just https://stage-developer.helix-demo.xyz/

[2018-12-13 17:09] filmaj commented on #56
actually... it does work... kind of? I swear this didn't work last night...

[2018-12-13 17:12] filmaj commented on #56
Hmm, maybe the 'sub-strain' sections are where it doesn't work?

I.e. https://stage-developer.helix-demo.xyz/docs/launch vs. https://stage-developer.helix-demo.xyz/docs/launch/README.html

Based on [our helix config](https://github.com/adobe/Adobe-Developer-Site/blob/master/helix-config.yaml#L23)

[2018-12-13 19:59] filmaj commented on #62
This is actually an issue with XD plugin docs, and not with helix or the site. More details here: https://github.com/AdobeXD/plugin-docs/issues/5

I will eventually send a PR to the XD docs to fix this.

Closing.

[2018-12-13 19:59] #62 closed

[2018-12-18 15:30] trieloff commented on #58
I've seen this too.

[2018-12-18 18:47] cassiemc opened #67 "Redesign XD product page"
We'd like to take the content from the XD product page, which @cmgeorge16 notes has been thoughtfully developed, and get it more in style with the dev site design thinking. The advantage here is that the XD product team has already done a lot of content thinking about what their ideal page would look like, and we can also potentially bat ideas off of them. Additionally we can also start to feel th

[2018-12-18 19:21] cassiemc commented on #5
FYI here is the updated IA. https://xd.adobe.com/view/8ce0fa8e-c777-4ca7-4675-c29614d84b86-fad1/screen/26c8152e-2459-4c09-a18c-90890abdfffc/DevSite-IA-v0-4-Logged-out-2

I recognize there was some feedback / discussion around this version at the hackathon. Is anyone able to please document the feedback so I can move this issue forward (and potentially – I'm being optimistic! – close)? @simonwex

[2018-12-18 20:38] cmgeorge16 commented on #67
While I helped to design the landing page and the overall IA of the docs, you should be talking directly with the team responsible for the site. Ash Ryan Arnwine would be a good person to start with as he and team had some additional ideas on interactivity and how they'd like to evolve this page.

[2018-12-18 20:55] cassiemc opened #68 "Brainstorm ideas to make auth easier"
This may not be the exact right repo for this but it does have implications toward the UX of the site.

From our stakeholder interviews, a high level and persistent piece of feedback was this: "Auth is the biggest barrier to entry" to API adoption.

We started discussing this in a google doc. Am moving that discussion here.

@simonwex: I would like to brainstorm the best way to tackle this. It's s

[2018-12-18 20:58] cassiemc opened #69 "Share/discuss Developer relations strategy"
From Stakeholder research, this need came up: "We need to show that we have a healthy developer ecosystem by being visible, having events, utilizing the Magento ecosystem"

@simonwex says: "This ties in to a larger strategy that Simon Mac Donald and Michael Brooks are investigating."

Would love to have insight into that strategy (or if it's not ready to share, the timelines for it) so that we can

[2018-12-18 21:08] cassiemc opened #70 "Create a github trainings & curriculum plan"
From stakeholder research: "To ensure product adoption, content authoring needs to be easy/accessible from end-to-end, from generating content with an understanding of how individual elements will render to actually publishing the content."

@simonwex says: "Helix reads doc content from Github. We need to ensure trainings and curriculum is available to our writers to ensure this is a success."

[2018-12-18 21:16] cassiemc commented on #5
Pasting the updated IA in here for easy access. Do we need a section specifically for partners/enterprise? This could perhaps be addressed in the Use Cases section.

![iav5](https://user-images.githubusercontent.com/1186326/50183446-18972800-02e0-11e9-8ec2-698e9f9ca0fa.png)

[2018-12-18 21:38] cassiemc opened #71 "Design Use Cases section"
Here's some preliminary use cases content from @jenlgray.

**Note:** we still need to get permission to be able to use this content in any published material.

1. Pexels uses the Stock API to include related Stock images at the bottom of the page when someone searches for a free image https://www.pexels.com/photo/close-up-of-heart-shape-on-table-247074/
2. Here's one on the CC side https://theblog

[2018-12-19 16:57] simonwex opened #72 "Move to intermediate IA"
With the work being done in #40, it's clear that the current top nav is already making small changes untenable. The new navigation implied in #5 is where we're headed, but has elements that don't exist yet (Discover, community).

Additionally, there is a bug in the current site where the 2nd level nav used by product teams is now being taken over and some important pages are being left orphaned.

[2018-12-19 16:59] simonwex commented on #72
Here are the proposed changes to the current site. @britburger, @cassiemc do you have thoughts on this as an intermediate step?

If this is okay, I'll file the issue in Jira to get the current site modified to this.

![temp-nav-dec2018-01](https://user-images.githubusercontent.com/25260/50235156-1aa6c880-036c-11e9-9185-e8b1d5b925f6.png)
![temp-nav-dec2018-02](https://user-images.githubusercontent.

[2018-12-19 17:00] simonwex commented on #72
/CC @jahoni

[2018-12-19 17:23] simonwex commented on #72
@kgera once this is resolved, I'll file the bug to make the changes to the site. It would be good to prioritize this as there are significant pages that are orphaned for product teams.

[2018-12-19 19:21] filmaj commented on #59
Interesting. Looks like this landed in helix-cli@0.10.6. I'll look to update helix in this repo and get a deploy out to see how things are different.

[2018-12-19 20:04] trieloff commented on #59
Until we have adobe/helix-cli#408 in, I'd expect much more brokenness (you won't event get an error 500, just a silent, failing, 200)

[2018-12-19 20:12] filmaj commented on #59
Thanks, good to know, I'll keep my eyes out for a fix for that landing and a relevant release being published before I try the fix(es) out.

[2018-12-20 13:57] cassiemc commented on #67
Sent an email to Ash to set up a meeting. Thanks @cmgeorge16

[2018-12-20 14:19] cassiemc commented on #60
@filmaj Can you add a little more detail here? Maybe @britburger and I can help. There's a 'design' label too (if it's relevant) to surface things like this to us a little faster.

[2018-12-20 21:54] cassiemc commented on #72
Just had a call with @jahoni who graciously talked me through it. I think this is good to go.
I wouldn't necessarily call this an intermediate IA solution though, more like fixing a problem that was introduced by the global nav and lack of secondary nav. Semantics, but... just so we're all on the same page. :)

[2018-12-21 17:05] cassiemc commented on #38
This is done. Can be viewed here: https://docs.google.com/document/d/1ZgOQvf9gZAPHdKlX93YRGEHUxMd9ZA8X_LxaBOL5dGY/edit?usp=sharing

[2018-12-21 17:05] #38 closed

[2018-12-21 20:42] cassiemc commented on #41
This has begun, about 1/3 done. @simonwex ping me if you want to see the WIP.

[2019-01-09 00:11] cmgeorge16 commented on #41
Initial deck is complete, but will get added to over time when we do more research and interviews with customers, get personas and design principles finalized.

This might be separate from one specifically focusing on the Website, but I've focused on the overall "dev portal (website + console)" and initial research synthesis. This is coming from our Adobe Design Developer Ecosystem team's perspect

[2019-01-12 15:39] cassiemc commented on #72
@simonwex Are we good to close this one? need anything else from @britburger and me?

[2019-01-12 17:49] cassiemc opened #74 "Research generative art possibilities"
We're currently researching what design elements are possible to generate in browser and how we might go about creating more of a randomized art library for the developer portal. These elements would be part of page background designs, allowing personality and emphasis. New pages could be created with these elements, without a designer's touch.

[2019-01-12 18:47] cassiemc commented on #67
Ash replied after the holidays but we weren't able to find a time this week to sync with him. Will try again after we return from Canada (Jan 23).

In the meantime, the design has begun. Progress can be seen here:
Mobile:
![developer xd landing mobile](https://user-images.githubusercontent.com/1186326/51077153-546ba600-1670-11e9-9156-19909a719847.png)

Desktop:
![developer xd landing](https://user

[2019-01-13 19:57] cassiemc commented on #41
The dev site specific deck is complete. (@cmgeorge16 is referring to a different deck above, one with more of an overview of the ecosystem between console & the dev site)

Keynote source file is here (in case you need to adjust, @simonwex):
[2019-01-13 dev site research synthesis.zip](https://github.com/adobe/Adobe-Developer-Site/files/2753465/2019-01-13.dev.site.research.synthesis.zip)

Pdf is he

[2019-01-13 19:57] #41 closed

[2019-01-16 21:00] simonwex commented on #72
@cassiemc I think we can close this when it lands. Assigning to me/kanika until then.

[2019-01-22 17:44] simonwex opened #75 "Build intermediate top-level nav"
Building on #72, let's build some stand-alone markup/css/js that can be used as top-level nav & header for both the helix and AEM versions of the site.

[2019-01-22 17:50] simonwex opened #76 "Build intermediate footer"
Building on #72, let's build some stand-alone markup/css/js that can be used as a shared footer for both the helix and AEM versions of the site.

[2019-01-22 21:18] filmaj commented on #75
We're talking about the top-nav in this screenshot, ya?

![topnavscreenshot](https://user-images.githubusercontent.com/25260/50235156-1aa6c880-036c-11e9-9185-e8b1d5b925f6.png)

[2019-01-22 21:19] filmaj commented on #76
And I believe the footer screenshot is the following:

![footershot](https://user-images.githubusercontent.com/25260/50235160-1aa6c880-036c-11e9-9d2b-66cf58168158.png)

[2019-01-22 22:54] stevengill commented on #75
I'm guessing we build this kinda like a web component so it could be used by either. The links in the nav would be hardcoded ya? Like we don't have to have them in a markdown file and render the nav from that.

[2019-01-23 20:50] britburger commented on #74
Just some experiments here to see what might be possible using just greyscale and the various spectrum elements along with some simple texture.

![grid systems](https://user-images.githubusercontent.com/1420981/51636109-6b3eb200-1f26-11e9-9a8b-2dce71729c1e.jpg)
![kandinsky](https://user-images.githubusercontent.com/1420981/51636110-6b3eb200-1f26-11e9-8af8-0ca4ed8ab63e.jpg)
![bauhaus](https://user-

[2019-01-24 17:19] cassiemc commented on #67
@cmgeorge16 We tried to meet with Ash before the holidays and afterward. (He's the only contact we have for the team as a whole.) He would like to understand the larger project scope from @simonwex before he's willing to speak with us. We'd still love the involvement of that team when they're ready. Our mandate in the interim is to work with what we've got and try to keep pushing forward. We're op

[2019-01-30 00:42] cassiemc commented on #41
Also for reference the full text-based report can be read here: https://docs.google.com/document/d/11DSilQ8u7ik8y-zrgUAmx8GSt_yguI7lR2a73FEbgAk/edit as per #38

[2019-01-30 17:06] jenlgray commented on #67
Left a few comments on the XD files. Overall, I'm blown away. Well done, you both!!

[2019-01-30 22:14] simonwex commented on #75
@filmaj yes

[2019-01-31 19:33] jahoni commented on #72
@kgera has a few questions for me (came in through slack), and wanting to track/answer them here.

Sorry, I don't understand the above questions...do you mind clarifying?

I'd say yes, ideally product teams should have the ability to customize the navigation on their section. That is, determine if they need sub-pages, and customize the secondary CTA button. The example "mock-ups" above for CC Stor

[2019-01-31 19:50] simonwex commented on #72
RE:

Agreed for now.

[2019-01-31 19:53] simonwex commented on #72
Thanks for weighing in on the rest of this, @jahoni great guidance.

[2019-01-31 20:10] wielmic commented on #72
@jahoni
* Where we display the second level, for example in the previous website that were section pages.
* How do we filter child pages, is it just normal iteration that handles hide in navigation/sub navigation?
* If the second level should be the section nav from the old website, should child pages inherit nav from section page. - This way documentation page will display the nav from the produc

[2019-01-31 23:05] jahoni commented on #72
@wielmic ah, okay -- thanks for clarifying.

I understand the question as: when does the secondary navigation appear, and how does the secondary navigation appear for pages within that "section"?

1. You are correct in stating that the secondary navigation should not appear on the homepage, nor on any section of the website that doesn't have sub-pages -- in fact, I _believe_ that the only area of

[2019-02-01 17:20] stevengill opened #82 "side nav linking is broken on docs site"
For our docs renders, if the side nav has sub directories, the url will add it but then the links in the nav all break as they are relative and not absolute links.

[2019-02-01 17:21] stevengill opened #83 "Replace font-awesome menu icon with spectrum showmenu icon"
Couldn't get spectrum showmenu to work so I used font-awesome for now. Need to fix this.

[2019-02-01 18:47] simonwex commented on #82
@kptdobe is there a strategy that Helix has for rewriting links?

[2019-02-01 18:58] filmaj commented on #76
Found the mobile version.

I've pushed a preliminary, non-interactive mobile-only version to the `navs` branch:

<img width="422" alt="screen shot 2019-02-01 at 12 56 46 pm" src="https://user-images.githubusercontent.com/52645/52143363-dec87980-2620-11e9-8ac1-4ec3eb15bf49.png">

It's a little different from the mockups mostly because I'm trying not to veer away too much from default Spectrum style

[2019-02-01 18:58] wielmic commented on #72
@jahoni

exactly, thanks for clarification.

There is one more case, for console page we have structure like this:
- console
  - authentication
    - getting started
How we want to handle it? If "getting started" page inherits navigation from the console page then there is one problem here. Getting started page is not consoles child so it might be appended at the end.
Nav would look like | console

[2019-02-01 19:22] filmaj commented on #83
Yeah, I don't think the spectrum svg icons that ship with spectrum right now include the showmenu icon for some reason. i posed this question in the spectrum css channel.

[2019-02-01 19:32] jahoni commented on #72
hey @weilmic

I'm pretty sure you're referring to the [Adobe I/O Console product section](https://www.adobe.io/apis/experienceplatform/console.html)...and not something on console.adobe.io.

If so, I see that there is currently a section on the page, "Authentication Options" -- though nothing specifically called "Getting Started":

![ssp_temp_capture](https://user-images.githubusercontent.com/1783

[2019-02-01 20:06] filmaj commented on #83
Latest commit on navs branch axes font-awesome and introduces full spectrum icons.

[2019-02-01 20:07] wielmic commented on #72
@jahoni yea, it is the page that you mentioned. So what should its subnav display?

[2019-02-01 20:33] #83 closed

[2019-02-01 21:12] stevengill opened #85 "Automatically pull latest articles from tech blog"
This would be a new section to the homepage

[2019-02-01 21:54] filmaj commented on #76
Mobile-friendly footer accordion action is wired up in the `navs` branch, this one's ready to merge in I think.

[2019-02-01 21:57] filmaj opened #86 "Where to pull "upcoming events" from?"
The latest homepage mockup has a section on 'upcoming events':

<img width="288" alt="screen shot 2019-02-01 at 4 00 21 pm" src="https://user-images.githubusercontent.com/52645/52151997-81d9bd00-263a-11e9-99a3-7576ee5de7b7.png">

Question is: where does this data come from? @jenlgray are you aware of where I could get my hands on this kind of data? Ideally in a programmatic way so that I can scrip

[2019-02-01 21:59] filmaj opened #87 "Decide how to display GitHub repos on home page"
Part of the new homepage mockup includes a section showing off some repositories from github.com/adobe:

<img width="288" alt="screen shot 2019-02-01 at 3 59 27 pm" src="https://user-images.githubusercontent.com/52645/52151959-5fe03a80-263a-11e9-9e2b-b41349bf9b75.png">

What criteria do we want to use to determine what we do and do not display? A particular sort order? Most stars? Most forks? The

[2019-02-01 22:18] filmaj commented on #76
This has landed in master!

[2019-02-01 22:18] #76 closed

[2019-02-01 22:18] filmaj commented on #75
This has landed in master!

[2019-02-01 22:18] #75 closed

[2019-02-01 22:32] stevengill opened #88 "UI icons missing in deployed version"
Seems like an issue with fastly. You can see the deployed homepage over at https://adobedevsite.helix-demo.xyz/index.html. Missing UI icons (carrot, magnifying glass). We get a 400 response about the css icons.

[code]

[2019-02-02 02:41] filmaj commented on #85
Due to CORS issues, won't be able to do this on the client side, will have to be in `pre.js`.

Another thing: the mockups want to show the author's avatar. That is not provided in the RSS feed. Going to skip that for now.

[2019-02-02 05:10] filmaj commented on #61
We fixed this in the december hackathon, but it seems to have come back to have bit us now. @stevengill can you confirm this is still an issue?

[2019-02-02 05:15] filmaj commented on #6
@wex I am also curious what this issue is about?

[2019-02-02 05:19] filmaj commented on #23
Can confirm that development has been focusing on the mobile case first - almost to the detriment of the desktop case 🙈

[2019-02-02 05:36] stevengill commented on #61
What's the issue? `hlx up` stopped working for you? For the main strain or other strains?

[2019-02-02 05:37] stevengill commented on #61
I ran into a similar issue this week when I updated the helix-pipeline dependency in our package.json. You didn't do that did you?

[2019-02-02 17:49] filmaj commented on #61
The original bug here was reported in december as multi-strain local `hlx up` not working. Is that still the case?

[2019-02-02 19:15] filmaj commented on #32
Thanks for that @mwbrooks. I think we're trying to implement some of the examples you provided in other areas, for example, pulling the latest blog posts from the techblog (#85). Due to CORS restrictions there, we're forced to move that activity into the pipeline, so we do the work on the server(less)-side.

[2019-02-02 19:16] filmaj commented on #42
@wex is this still to be done or can we close?

[2019-02-02 19:18] filmaj commented on #57
FYI @stevengill I think you saw this issue in your latest demo eh?

[2019-02-02 19:19] filmaj commented on #42
@simonwex is this still to be done or can we close?

[2019-02-02 20:49] stevengill commented on #61
Ahh sorry I misunderstood and thought you meant `hlx up` in general was broken.

Locally testing multiple strains is definitely still borked. But it kinda works.

- Add the `--host` flag to `hlx up` command to get strain resolution to work.

```hlx up --host www.adobe.io```

With the above command, you could go to urls for the appropriate strains.

```htts://localhost:3000/launch/docs/README.md```

[2019-02-04 14:49] filmaj opened #92 "circleci borked"
perhaps at this stage it's a bit early for running ci? maybe we turn it off for now? seems there are tests out there, though.

[2019-02-04 15:43] filmaj opened #94 "add linting"
Lack of linting directive is really messing up my IDE haha. Let's add an `.eslintrc.js` file to the root of the repo to address this. Also funny as we have a bunch of eslint plugins and stuff in the dev dependencies already.

[2019-02-04 15:51] kptdobe commented on #94
There is already one! My Visual Studio Code is already complaining with most of the files.
The task here would more be to apply linting everywhere! And maybe add the linting check as part of the CI.

[2019-02-04 15:54] kptdobe commented on #94
I started a linting branch here: https://github.com/adobe/developer.adobe.com/tree/linting

[2019-02-04 15:57] kptdobe commented on #94
ok, since I started, I will do it for you :)

[2019-02-04 16:01] filmaj commented on #94
LOL you are too good to us 🙏

[2019-02-04 16:14] kptdobe opened #96 "Why is loadIcons.js twice in the repo?"
https://github.com/adobe/developer.adobe.com/blob/master/htdocs/loadIcons.js
https://github.com/adobe/developer.adobe.com/blob/master/htdocs/icons/loadIcons.js

Any specific reason ?

[2019-02-04 16:17] kptdobe commented on #92
The CI tries to deploy automatically a new strain (on each commit...). Is this intended ? Maybe you can disable that for now.

The error message is weird:

[code]

Maybe @tripodsan or @trieloff knows what is wrong.

[2019-02-04 16:18] stevengill commented on #96
No reason. Probably just have it in html.htl and we are good

[2019-02-04 16:49] filmaj commented on #96
none, we should axe it

[2019-02-04 19:06] filmaj opened #97 "docs.html should not include base html that html.htl provides"
the current approach e.g. nests `<html>` elements.

to solve the issue, we should cut down on `docs.html` to only include body html.

[2019-02-04 19:19] wielmic commented on #72
@jahoni There is one problem, how subnav should behave for cloud pages, like the creative cloud page, these have a lot of product pages below? It won't look that good if we display 17 items there.

[2019-02-04 19:42] #96 closed

[2019-02-04 19:51] #85 closed

[2019-02-04 19:53] #97 closed

[2019-02-04 20:36] wielmic commented on #72
@simonwex this one https://www.adobe.io/apis/creativecloud.html
For me it visually looks good when it displays children of the apis page, these are: creative cloud, document cloud, experience cloud, experience platform and tcs. Im not sure though if it makes a lot of sense. That would be subnav inherited from the apis page.

[2019-02-04 21:03] filmaj commented on #94
Merged in in 6a6af88.

[2019-02-04 21:03] #94 closed

[2019-02-04 21:45] filmaj opened #98 "Support both medium and large Spectrum scales"
Spectrum-css [supports having two scales](https://github.com/adobe/spectrum-css#medium-and-large): medium (for desktop) and large (for mobile), though [this does require some JS trickery to swap out icon sizes dynamically](https://github.com/adobe/spectrum-css#swapping-out-icons-sets-for-scaling).

The current site hard-codes everything as large.

[2019-02-04 22:42] stevengill commented on #61
So the code to write the nav with absolute urls already exists in summary_html.pre.js. It was just commented out. The problem is, we need the mount points to rewrite the link properly.

Four places I need the mount points currently:
1) the dispatcher
2) Before loading summary.htl, we need to figure out the location of summary.md. Need to add the mount point in there
3) The side nav in the docs (wh

[2019-02-04 23:00] filmaj commented on #92
I'm trying to tackle this over in #99

[2019-02-05 09:52] kptdobe commented on #88
SVG images are not loaded. We need to investigate why, but that's mostly @trieloff area and he is on PTO... @rofe is looking at it.

[2019-02-05 10:07] kptdobe opened #103 "hlx deploy fires an error: Unable to deploy the static... payload too large"
Run `hlx deploy`, you get the following logs:

[code]

which is strange because static files seem to be delivered (see https://alex.helix-demo.xyz/).

@tripodsan Any idea why the static package size is 78Mo!?

[2019-02-05 10:11] kptdobe opened #104 "Publish - blocking issues"
Since I am a bit lost with the number of issues regarding publishing the site, I propose to maintain here a list of the blocking issues:

* ~~/launch/docs returns 404: https://github.com/adobe/developer.adobe.com/issues/105~~
* ~Missing SVG icons:~ https://github.com/adobe/developer.adobe.com/issues/88
* ~~Weird error message on `hlx deploy`: https://github.com/adobe/developer.adobe.com/issues/103

[2019-02-05 10:14] kptdobe opened #105 "/launch/docs is not accessible on publish site"
Try to reach https://alex.helix-demo.xyz/launch/docs, returns 404. The strain resolution magic does not seem to work on publish.

[2019-02-05 10:17] kptdobe commented on #105
It ends up on the static action, no clue why: "x-action-root: /api/v1/web/acapt/default/hlx--static"

[2019-02-05 10:36] kptdobe commented on #103
Humm... this seems to be related to my environment when I played with the packaging: it bundles the helix-pipeline inside the static action (sic!), no clue why. Re-installing the hlx-cli does not seem to help. Weird. But at least not a bug here.

[2019-02-05 10:36] #103 closed

[2019-02-05 10:42] kptdobe commented on #105
`req.url.dirname == '/launch'` and not `/launch/docs`, that's why the strain is not considered! Will open corresponding issue in the helix-cli.
`xd` but with homepage content. There is more than that broken.

[2019-02-05 10:59] kptdobe commented on #103
Actually (to be precise and for the record), `hlx deploy` puts the whole `helix-cli` trees in the static package... no clue why!

[2019-02-05 15:05] rofe commented on #88
I'm onto a glitch in runtime, which doesn't seem to like SVG:
* [JS](https://adobeioruntime.net/api/v1/web/rofedev/default/hlx--static?owner=adobe&repo=developer.adobe.com&ref=master&strain=default&entry=/icons/loadIcons.js&root=/htdocs&plain=true) works
* [SVG](https://adobeioruntime.net/api/v1/web/rofedev/default/hlx--static?owner=adobe&repo=developer.adobe.com&ref=master&strain=default&entry=/i

[2019-02-05 16:15] tripodsan commented on #104
this is kind of obvious, not?

[2019-02-05 16:16] tripodsan commented on #88
maybe the content type is not correct: https://github.com/adobe/helix-cli/blob/master/src/openwhisk/static.js#L50

[2019-02-05 16:20] filmaj commented on #61
So, this issue, with regards to multiple strains running locally: this is solved now. Closing.

[2019-02-05 16:20] #61 closed

[2019-02-05 16:21] kptdobe commented on #104
Yes but so easy to forget...

[2019-02-05 16:21] rofe commented on #88
it's `image/svg+xml` thus should match: https://github.com/adobe/helix-cli/blob/master/src/openwhisk/static.js#L60

[2019-02-05 16:22] filmaj commented on #57
@stevengill did we fix it? I believe so?

[2019-02-05 16:24] filmaj commented on #104
I added #92 as well

[2019-02-05 16:35] #57 closed

[2019-02-05 16:42] filmaj commented on #105
Awesome! Thanks for dealing with that.

[2019-02-05 16:46] filmaj commented on #92
I got the CI working on that one PR (#99) - but then fails again on master (see https://circleci.com/gh/adobe/developer.adobe.com/147) with the 'unable to update params.vcl' error that we've seen intermittently on `publish`.

Maybe has something to do with `npx deploy --add master`? Maybe should not be using the `--add` flag when this runs on the master branch? I'm not sure....

[2019-02-05 16:53] tripodsan commented on #88
I though that runtime encodes all `image/*` as binary.

[2019-02-05 18:49] stevengill opened #106 "Our Code of conduct throws an error when rendering the markdown."
The file: https://github.com/AdobeDocs/starter-docs/blob/master/CODE_OF_CONDUCT.md

The error:

[code]

[2019-02-05 18:56] rofe commented on #88
Apparently runtime treats SVG as binary (as almost everything which doesn't start with `text`, per this [spec](https://doc.akka.io/api/akka-http/10.0.4/akka/http/scaladsl/model/MediaTypes$.html#image/svg+xml:akka.http.scaladsl.model.MediaType.Binary))

Any ideas how to gracefully work around this?

[2019-02-05 19:05] stevengill commented on #106
Looks like the issue is markdown link references. I got it working by removing the link references in https://github.com/AdobeDocs/starter-docs/commit/887261c1083f8fb49fc802352009df8f1bcc8c01

[2019-02-05 19:17] stevengill commented on #105
Great work @kptdobe! Nice to see it all working on publish!

[2019-02-05 19:23] stevengill opened #107 "Links embedded in content need to be rewritten with mount points and made absolute"
All `href` and `src` attributes in content need to be rewritten with mount points and made into absolute links.

[2019-02-05 19:28] stevengill opened #108 "Add nesting to side nav in docs template"
Right now our side nav for docs is kinda weird. We should support at least three levels of nesting and make sure it looks the same for the various different summary.md files we are working with. This includes [XD](https://github.com/AdobeXD/plugin-docs/blob/master/SUMMARY.md), [launch](https://github.com/Adobe-Marketing-Cloud/reactor-user-docs/blob/master/SUMMARY.md), and [starter-docs](https://gi

[2019-02-05 19:44] jenlgray commented on #19
How to implement the Adobe Global Unsubscribe link to marketing emals - https://wiki.corp.adobe.com/display/CommsHub/Adobe+Teams+and+Vendor+On-Boarding%3A+Using+the+Central+Unsubscribe+Page

[2019-02-05 20:14] filmaj commented on #105
Reopening, we should wait until this fix gets published in helix, and then we should also add helix-cli to the dependency list of this project so that we can lock down helix version as well.

[2019-02-05 20:31] filmaj commented on #58
Even on @kptdobe's latest published version of the site https://alex.helix-demo.xyz/ you can still see this problem. Interestingly, different static assets fail on each refresh.

[2019-02-05 20:33] filmaj commented on #58
OK, but now it works. wtf???

[2019-02-05 20:35] filmaj commented on #58
<img width="1428" alt="screen shot 2019-02-05 at 12 34 11 pm" src="https://user-images.githubusercontent.com/52645/52302535-5f99b500-2942-11e9-9762-3985a099ee6a.png">

Check it out, at 12:30PM local time it was failing on every refresh (in the screenshot only the last of these is shown, but there were several refreshes before then that had the same problem). Then @stevengill tried and he said "wor

[2019-02-05 20:36] filmaj commented on #104
Also added #58 and #59

[2019-02-05 20:39] filmaj commented on #108
Going to move ahead assuming nested lists should render in a nested, spectrum-friendly way, and that two hashes signify a heading.

[2019-02-06 00:44] filmaj commented on #92
It randomly started working......

[2019-02-06 00:48] filmaj opened #111 "Tech blog articles not being displayed on deployed website"
https://adobedevsite.helix-demo.xyz/

Should be showing the tech blog articles down below. Works locally.

Need to dig in and see what the runtime logs say, but I don't have access to this runtime namespace.

[2019-02-06 00:51] filmaj commented on #104
Added #111

[2019-02-06 01:08] filmaj commented on #92
Oooo we've hit a rate limit from fastly it looks like too!

[code]

[2019-02-06 07:46] rofe commented on #88
Looks like we'll need to treat SVG as if it were binary and encode it base64 so runtime won't choke on it. Will open a `helix-cli` issue for that.

[2019-02-06 14:19] rofe commented on #88
Note: you need to rebuild and redeploy the static package, use `hlx package --force` with the latest `hlx` (0.13.3-pre.7 or higher) to get this change.

[2019-02-06 14:26] kptdobe commented on #92
This https://github.com/adobe/helix-cli/issues/510 for the rate limit part of the issue.

[2019-02-06 16:37] filmaj opened #114 "Update roadmap/rituals/agency parts of the README"
The roadmap part for sure is out of date. @simonwex can you update the README? Also if you could do the same for the project milestones in this repo that would be super appreciated. We want to start using milestones to group issues together (for example, publishing the site, working out CI, etc.) and I wanted to use milestones for it, but there's lots in there, and I don't wanna mess up any setup

[2019-02-06 17:06] simonwex commented on #114
Absolutely. I've been doing a bit of thinking about this especially after our call yesterday.

[2019-02-06 17:33] simonwex commented on #114
@mwbrooks I could use a thought partner on this, do you have any time today to chat?

[2019-02-06 19:22] filmaj commented on #88
I used helix-cli version:

and deployed with `hlx build && hlx package --force && hlx deploy --no-auto && hlx publish` which yielded:

[code]

https://adobedevsite.helix-demo.xyz/ seems to be missing all static assets now.

[2019-02-06 19:27] filmaj commented on #59
I cannot reproduce this anymore, so I'm closing.

[2019-02-06 19:27] #59 closed

[2019-02-06 19:38] filmaj commented on #111
Latest deploy no longer shows this issue, closing.

[2019-02-06 19:38] #111 closed

[2019-02-06 19:39] filmaj commented on #92
We've simplified CI, now just runs tests. Closing.

[2019-02-06 19:39] #92 closed

[2019-02-06 20:48] simonwex opened #117 "Update homepage content"
https://docs.google.com/document/d/1YsIg9nQZDuHASzhNPh1yNEOwvgez2Na_PxejPAQTyQA/edit

[2019-02-06 22:53] filmaj commented on #117
Is this content still supposed to use the mockups we've been using to dev against?

mobile: https://xd.adobe.com/spec/9a251811-9257-4493-5141-62a780c725ad-ec14/screen/74c4a0b8-8a98-47ca-9658-eef1d27fd8ae/Developer-Home-Mobile/
desktop: https://xd.adobe.com/spec/9a251811-9257-4493-5141-62a780c725ad-ec14/screen/c1d5e415-fd39-43dd-bb2e-5ae708c762dc/Developer-Home/

[2019-02-06 23:14] wielmic commented on #72
@jahoni @simonwex What about mobile layouts, do we have any?

[2019-02-06 23:20] filmaj commented on #105
So I tried deploying w/ latest master of helix cli and it is not working for me :/

https://adobedevsite.helix-demo.xyz/ works fine. https://adobedevsite.helix-demo.xyz/launch/docs returns a 404. interestingly, if you add a trailing slash to that https://adobedevsite.helix-demo.xyz/launch/docs/ then you got a 400 with some stringified buffer data!

[2019-02-06 23:21] filmaj commented on #88
Fixed!

[2019-02-06 23:21] #88 closed

[2019-02-06 23:48] simonwex commented on #117
That was the original goal, though I think they've walked away from each other quite a bit.

@britburger @jenlgray I know you've both been into both of these documents heavily. Do you have any thoughts on how to proceed?

[2019-02-06 23:53] #98 closed

[2019-02-07 00:03] #60 closed

[2019-02-07 00:04] #108 closed

[2019-02-07 00:15] filmaj commented on #105
Fixed!

[2019-02-07 00:15] #105 closed

[2019-02-07 00:15] #107 closed

[2019-02-07 00:16] filmaj commented on #58
Havent' seen this for a bit, closing.

[2019-02-07 00:16] #58 closed

[2019-02-07 00:16] filmaj commented on #104
I think we've tackled them all in here!

[2019-02-07 00:16] #104 closed

[2019-02-07 19:50] filmaj commented on #56
I don't think this is an issue anymore.

[2019-02-07 19:50] #56 closed

[2019-02-07 19:51] filmaj commented on #33
I breached this topic again with the helix team this week and @davidnuescheler was pretty adamant that they want to stay away from this.

We have found ways to get around this (injecting markup / js / css in the pipeline instead). Going to close this down.

[2019-02-07 19:51] #33 closed

[2019-02-07 19:53] filmaj commented on #23
I think mobile-first is enshrined in our approach when developing the site so going to close this issue down as I think we've settled the issue.

[2019-02-07 19:53] #23 closed

[2019-02-07 19:54] filmaj commented on #6
@simonwex I am closing this issue down - if that is wrong, please reopen.

[2019-02-07 19:54] #6 closed

[2019-02-07 19:56] filmaj commented on #7
For the record, the we're working with the ACP team now and inching towards getting their content onto the site. While their APIs are not public, they grappled with this question as well. We suggested to them to keep their docs and resources open, and just do the effort to clearly annotate which APIs are not yet available publicly. So IMO this could become a documentation problem and not a technic

[2019-02-07 21:00] wielmic opened #118 "Too many items in the Subnavigation"
Some of List pages contain too many children, the Creative Cloud has 17. How should it be handled by the Subnavigation? It makes sense to don't display it at all, as all links are in the list component. Alternatively we can implement line wrapping but it requires some designs because with the current ones it won't look good

[2019-02-07 21:05] wielmic opened #119 "New Navigation - Missing designs for mobile devices"
There are no designs for mobile devices. Screens from #72 are only for desktop like screens.
As the navigation is much different now we need to define how it should look like on mobile devices.

[2019-02-07 21:05] wielmic commented on #119
@jahoni @simonwex any indeas?

[2019-02-07 21:06] wielmic commented on #118
@simonwex @jahoni do you have any suggestions?

[2019-02-07 21:06] filmaj commented on #119
Mobile home page mockup that I've been working off of: https://xd.adobe.com/spec/9a251811-9257-4493-5141-62a780c725ad-ec14/screen/74c4a0b8-8a98-47ca-9658-eef1d27fd8ae/Developer-Home-Mobile/

Mobile XD landing page mockup: https://xd.adobe.com/spec/9a251811-9257-4493-5141-62a780c725ad-ec14/screen/9672aa35-bab0-4278-a6a3-9bd2be60b6e4/Developer-XD-Landing-Mobile/

[2019-02-07 21:23] wielmic commented on #119
It looks similar to the current design, but there is some incompatibility with the new navigation.
At the moment hamburger expands Adobe.com links (creativity designs etc.) and Adobe I/O / Home expands first level below the home page. Yet now we won't have adobe links bar. There is only set of links to first level pages and the secondary navigation that contains children of the current page or pro

[2019-02-08 01:48] filmaj opened #120 "Set up separate runtime namespace"
We should not piggyback on the io-solutions runtime accounts let's set up dedicated one for this website

[2019-02-08 01:50] filmaj opened #121 "Investigate static asset bundling"
We hit the static runtime method for each separate static asset, so adding a bundling step for js and css would ease the load on the site. There is a 600 requests per minute limit on runtime we need to stay under.

[2019-02-08 19:30] filmaj commented on #120
Done. Creds updated in circleci. I have creds and so does @stevengill.

[2019-02-08 19:30] #120 closed

[2019-02-08 20:55] britburger commented on #117
@jenlgray, Erin and I reviewed the designs together last week and had a great conversation around the current state of the homepage and how close it was to the mark in terms of pairing down the marketing copy and prioritizing links out to the popular and active channels of communication. Takeaways were:

1. Remove the events module or replace it with a placeholder. I wondered afterwards about "Sub

[2019-02-09 08:36] tripodsan commented on #120
do you want to use different namespaces for different strains using the same helix-config ?

[2019-02-11 19:03] cmgeorge16 commented on #42
The overall research synthesis deck that Adobe Design Dev Ecosystem team created was sent out to internal stakeholders last month. This was a deck that went across the work we're doing for the Developer Console + Website. Not only did it summarize the ecosystem and the themes presented throughout the interviews, but it also framed how in the future our teams would be reaching out to stakeholders i

[2019-02-12 18:56] kgera commented on #72
@jahoni  Whenever you feel better, please can you respond to @wielmic questions. We are aiming to get this out by end of this week.

[2019-02-12 18:59] kgera commented on #72
Also as per my discussion with @wielmic  The top logo on left should navigate to adobe.io home page and also the top nav will be deployed to dev instance for review. @wielmic  Sharing credentials with you on slack for Dev access.

[2019-02-13 20:16] jenlgray commented on #19
Competitive research:

### Salesforce
- "Join over 5 million developers [Subscribe now!] as a banner near the footer
<img width="715" alt="screen shot 2019-02-13 at 1 07 40 pm" src="https://user-images.githubusercontent.com/9487317/52740907-55566700-2f91-11e9-84f8-0867b5fb2116.png">

Initially asks for first name, last name, email and country. Subscribes you based on that info and gives you the op

[2019-02-20 00:07] simonwex commented on #118
@wielmic this page should have no children. The links are in the document below.

[2019-02-20 10:32] trieloff opened #123 "Improve RSS feed Integration"
The home page includes the medium RSS feed, which is a really cool feature, but I think there are some ways to improve the implementation:

1. make the feed URL configurable, so that different subsites can include different parts of the feed
2. move the entire feed into an ESI include, so that it can get cached independently from the main page content

## Making the Feed URL configurable

I'd add

[2019-02-20 17:44] simonwex opened #124 "Create high-level roadmap of project"
The audience is internal stakeholders and possibly the PPC process. The roadmap should include high-level milestones with ~100% certainty dates.

[2019-02-20 17:45] simonwex opened #125 "Write internal messaging around IA and homepage update"
In order to give people the heads-up that we'll be updating the home page and IA, we need to write some copy that explains the why and what's next.

It's worth discussing whether or not to include our Roadmap: #124

[2019-02-20 17:50] simonwex opened #126 "Make the homepage a faithful implementation of the design"
Update homepage to be a faithful implementation of #40

There are a few sections that aren't required as they're removed with current content update (#117) but it'd be neato (and not required) to have the sections implemented for future updates.

[2019-02-20 17:53] simonwex opened #127 "Determine the impact of blackout period on this release"
There's a blackout period around March 1. We have spare details on the impact on us releasing and what the start/end dates are.

[2019-02-20 17:53] simonwex commented on #127
@kgera do you have these details?

[2019-02-20 17:58] simonwex opened #128 "Determine plan for CI and operational support of Helix & Fastly."
Before anything goes into production, let's have a clear document that outlines:
 * escalation procedures
 * contacts for external services
 * uptime requirements
 * beginning of troubleshooting guide/post mortem notes

This document should be private, but readily available to the team.

Let's communicate how to report an issue when we communicate the homepage updates (#125)

[2019-02-20 18:01] simonwex opened #129 "Create product landing page repository for ACP"
Related to content here: https://adobe.sharepoint.com/:p:/r/sites/PlatformRoadmapPlanning/prpartifacts/_layouts/15/doc2.aspx?sourcedoc=%7Bf7528e86-4a90-43d2-8fd9-bba1dc333e5d%7D&action=default&gad=214

Let's get the team set up and comfortable editing MD.

[2019-02-20 18:01] simonwex opened #130 "Create product landing page repo for CCE team"

[2019-02-20 18:10] cmgeorge16 commented on #38
@cassiemc I know that this is different than the overall research synthesis done by the Adobe Design team. Please make sure we flag this document as something that will need to get removed before this repo becomes public. There's material in there that may be contentious to become public and don't believe we have any explicit consent to be able to post those insights publicly.

[2019-02-20 18:36] jenlgray opened #131 "Create news sign up and newsletter tooling"
- Create news sign up on adobe.io
- Figure out newsletter tooling

[2019-02-20 18:50] simonwex commented on #126
Search bar implementation is not part of this.

[2019-02-20 20:30] kgera commented on #72
Notes from review meeting on stage: https://docs.google.com/document/d/1FPCsMgL7_trosl8n6zTjZbyU9CtKQCQhXd_4ypLPhlk/edit?usp=sharing

[2019-02-20 20:31] kgera commented on #72
@wielmic and I will work on the IA feedback and setup another review next week.

[2019-02-20 20:37] kgera opened #132 "New IA testing plan"
Need to plan testing for new IA across devices before making it live

[2019-02-20 20:49] jahoni commented on #118
@wex is correct here: the Creative Cloud landing page (nor any other Cloud-specific landing pages) should not display a sub-navigation.

afaik, this should solve the issue, as I don't believe that any products have more than 5 secondary navigation items.

[2019-02-20 20:52] jahoni commented on #119
So, our approach here should be to follow the styling of the mobile navigation from adobe.com, while taking into consideration that, we do no have "flyouts" on our global navigation items, and therefore won't require arrows next to global nav items in the mobile view.

[2019-02-20 23:26] filmaj commented on #120
@tripodsan no I don't think so. Why do you ask?

[2019-02-20 23:31] filmaj commented on #42
In that case @simonwex @cmgeorge16 can we close this issue?

[2019-02-20 23:34] filmaj commented on #42
Going to close this, feel free to re-open if that is applicable here.

[2019-02-20 23:34] #42 closed

[2019-02-20 23:38] stevengill commented on #120
Actually, I could see a scenario where having difference namespaces for different strains makes sense. Hear me out.

If we have one runtime namespace for all strains, that means production and stage share the same runtime actions. That means if we make a change to an .htl/pre.js and do a deploy, it affects production and stage.

Right now we have separate stage and production content by using spec

[2019-02-20 23:57] tripodsan commented on #120
not anymore, since the actions are prefixed with the `sha` of the git commit of your code.

with the current version, we include the namespace an action is deployed to. and fastly uses the correct namespace prefix for a strain. we didn't implement (or we removed it again) authentication from fastly to i/o/ runtime, so that should not be a problem. but as soon as the action are private/protected, w

[2019-02-21 00:04] filmaj opened #133 "random static files 404"
latest master of this site, revision 2a8d08c, deployed to https://adobedevsite.helix-demo.xyz/

deployment output:

[code]

`hlx` version 0.13.5

[2019-02-21 01:01] filmaj commented on #133
I believe @tripodsan is investigating this.

[2019-02-21 01:41] tripodsan commented on #133
my current findings are:
- using single requests, I never get a 404.
- using concurrent requests, I sometimes get a 404.

![image](https://user-images.githubusercontent.com/917628/53137209-31b0a380-35c5-11e9-9702-8660f5d6e5a3.png)

It might be related to the bug that @drwilco worked on during the hackathon, such as the requests to the static always go first to the `html` action, IIUC. and if that

[2019-02-21 01:44] tripodsan commented on #133
increasing the concurrency count gives more errors:

![image](https://user-images.githubusercontent.com/917628/53137311-979d2b00-35c5-11e9-9339-200e977a10b5.png)

[2019-02-21 01:52] tripodsan commented on #133
/cc @trieloff

[2019-02-21 05:22] simonwex commented on #130
I don't think this lives in adobedocs. This is content for the site that's not documentation-based. We might want to set up our own org for this, maybe not?

[2019-02-21 05:25] simonwex commented on #131
@jenlgray when do we want to see this live?

Do you know where it should live within the IA? ( https://github.com/adobe/developer.adobe.com/issues/5#issuecomment-448338535 )

[2019-02-21 05:29] simonwex opened #134 "Develop plan for monitoring uptime"
This is made a little bit more complex by potentially being obscured by fastly.

[2019-02-21 14:04] trieloff commented on #133
We might have to move this issue to `helix-cli`.

[2019-02-21 14:12] filmaj commented on #134
I had marked this under #128 but I'll remove it from there and we can work on that in here.

[2019-02-21 14:54] filmaj opened #135 "Update code to use new rootPath and other context/action property updates in helix"
See https://github.com/adobe/helix-cli/issues/531 for details on the changes. I think this will address a bunch of code currently in our pipeline methods.

[2019-02-21 15:31] trieloff commented on #133
With https://github.com/adobe/helix-cli/pull/443 merged, we might get a few more insights, as the backend error will be passed through. I doubt it's `raw.githubusercontent.com`, though, as I've been unable to get it to give me anything but 200s - even with 200 concurrent requests.

[2019-02-21 17:33] stevengill commented on #135
Rad.

[2019-02-21 17:54] jenlgray opened #136 "Developer destination info for Ken Tsai"
Matt,

To follow-up on our conversation on developer.adobe.com, can you share out

Planned structure of the new developer destination?
Target date?

Thank you, and I look forward to collaborate with you. Best Ken

[2019-02-21 18:00] jenlgray commented on #136
1. Can we use this as an opportunity to show the planned structure for cross-cloud developer engagement? Including the website, blog/social, newsletter, webinar, support, events.

<img width="1012" alt="screen shot 2019-02-21 at 10 57 55 am" src="https://user-images.githubusercontent.com/9487317/53190809-9c62de80-35c7-11e9-9bb5-6a9742a88689.png">

2. Deadlines

- Rebrand by Magento Imagine in May

[2019-02-21 18:05] simonwex commented on #136
![image](https://user-images.githubusercontent.com/25260/53191263-3aeb4180-35c0-11e9-9d18-53ae5dbc886c.png)

[2019-02-21 18:34] jenlgray commented on #136
Any _loose_ target dates we can include? @simonwex

[2019-02-21 19:31] simonwex commented on #136
It's unfortunate timing, we're working towards dates right now, but we won't have that plan together firmly until next week.

I could write something basic up and include the dates we already know.

What format are we delivering this in to Matt/Ken?

[2019-02-21 20:15] jenlgray commented on #136
great question... I think just email. Something basic would be nice to include and then we can say that the formal roadmap is part of the current sprint.

[2019-02-21 20:39] filmaj commented on #123
Thanks for the tips on this @trieloff ! It is very helpful to figure out how to move from to a more 'helix' way of thinking 😄

I'll take a stab at implementing this but I'll probably come back with questions

[2019-02-21 20:42] filmaj opened #137 "Understand if cached version of site is being returned"
I posed this question in Slack: https://adobeio.slack.com/archives/C9KD0TT6G/p1550780194034000

My feeling is we are not serving up cached content at all, given how slow it typically loads, and how quickly we hit GitHub rate limits.

[2019-02-21 20:49] filmaj commented on #125
IMO: yes, worth including (a link to) the roadmap.

[2019-02-21 20:49] filmaj commented on #127
+1 @kgera would be good to get the details in paper somewhere.

[2019-02-21 20:50] filmaj commented on #128
Count me in on this one, happy to help break this down into more discrete deliverables.

[2019-02-21 20:52] filmaj commented on #132
@kgera Is this related to the task/meeting we were supposed to have last week at Tech Summit but fell through?

[2019-02-21 23:06] simonwex commented on #136
Homepage refresh: Summit
IA updates: End of Q1
Contributor-ready Doc Rendering: End of Q2
Product Areas managed by select teams: End of Q2
Discover -> Use Cases: TBD

[2019-02-22 02:31] tripodsan commented on #133
I saw that `raw.githubusercontent.com` also uses fastly:

[code]

so I think not every request will get through to the backend and might not count against the rate limit.

[2019-02-22 09:49] trieloff commented on #133
Yes, they are doing some pretty cool stuff with Fastly (like bulk certificate management)

[2019-02-22 12:35] trieloff commented on #134
I'd argue what counts for you is the uptime including Fastly plus the number of gateway errors coming from Fastly, because that describes the visitor experience.

[2019-02-22 16:50] filmaj commented on #130
We should discuss with @stevengill on this question.

[2019-02-22 17:34] filmaj opened #138 "Fix functional UI tests on circleci"
See https://circleci.com/gh/adobe/developer.adobe.com/195?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

Looks like chromedriver can't bind to its desired port on circleci? This was working a couple weeks ago...

[2019-02-22 17:55] filmaj opened #139 "Update code, content and static properties in helix-config for helix-demo.xyz strains"
See discussion in https://github.com/adobe/helix-cli/issues/518

[2019-02-22 19:57] stevengill commented on #130
I don't think we should set up a new org for this. I'd be fine for this to live in adobedocs or the main adobe org. Being in the main adobe org means that we can use private repos for staging if we need to

[2019-02-22 20:18] filmaj commented on #134
+1 to what Lars says, what we care about is what external devs care about. Looking at this from an external lens then the implementation specifics (working through the helix "layers": fastly or not, runtime or not, github or not) are irrelevant.

In a previous life I worked on doing monitoring at Sauce Labs and so was involved with setting this page up: https://status.saucelabs.com/. That page cov

[2019-02-22 20:46] filmaj commented on #133
I tried to deploy the site out w/ latest helix-cli (`0.13.6-pre.6`) in order to get the latest logging out there but I get an error when I try to `hlx build`. I tried deleting both the `.cache` and `.hlx` directories but that didn't help.

[code]

[2019-02-22 21:29] filmaj commented on #138
I've gone into a debugging session in circleci and was able to boil it down to chromedriver, on its own, not being able to start inside circleci. Here's the details from the SSH session:

[code]

I'm going to raise a support issue with circleci.

[2019-02-22 21:52] filmaj commented on #133
Nevermind on my last comment! Apparently _how_ you drop comments in yaml matters (see https://github.com/adobe/developer.adobe.com/commit/3624692853fa66cd907cbbdc3b7268adbc1ec02c).

[2019-02-22 22:15] filmaj commented on #138
Actually, digging into when this passed last time, I get these same errors. So the chromedriver error is a red herring.

Turns out it was the way in which comments are laid out in the helix config! That was frustrating!

[2019-02-22 22:15] #138 closed

[2019-02-22 23:17] filmaj commented on #133
So I deployed w/ latest helix-cli (master) to get the new logging y'all mentioned, loaded the deployed site (https://adobedevsite.helix-demo.xyz/) and I did a bit of digging into the activation logs.

First, here's the network tab from loading the deployed site in chrome:

<img width="1414" alt="screen shot 2019-02-22 at 4 44 42 pm" src="https://user-images.githubusercontent.com/52645/53275593-3e1

[2019-02-23 01:51] filmaj commented on #2
@simonwex @kgera should we keep this issue alive still? In JIRA ([DEVEP-1140](https://jira.corp.adobe.com/browse/DEVEP-1140)) I see a related issue. Also @simonwex is the milestone still relevant?

[2019-02-23 01:52] filmaj commented on #5
As part of my incessant issue tracker cleanup, I want to see if we can a) host the IA document as part of this repository and b) close the issue?

[2019-02-23 01:54] filmaj commented on #7
@simonwex @lcrabb would my last answer be a satisfactory one? Enough to close the issue? We've done the legwork to convince the ACP folks to buy into "public docs, annotate clearly its availability" so I feel like we can continue that trend and have a definite answer to this question.

[2019-02-23 02:00] filmaj commented on #32
Another thought is: any "glue code", API interactions, whatever, we can implement as runtime actions accessible from the web. I think that solves the "how do we write code and bring up services outside of helix" question. We have yet to come across this need so I am not sure we need to tackle it right away. I am going to close this issue but if I'm offside please re-open it.

[2019-02-23 02:00] #32 closed

[2019-02-23 02:09] filmaj commented on #54
@macdonst @simonwex @MattLusher where are we at with this issue?

[2019-02-23 02:10] filmaj commented on #67
Is this issue still in progress?

[2019-02-23 02:11] filmaj commented on #69
@simonwex @macdonst @mwbrooks @jenlgray need y'all input here - what outcome do we want out of this issue? Is it still relevant?

[2019-02-23 02:23] filmaj commented on #117
FYI If we're gonna turf the events part of the homepage design then we can close #86.

[2019-02-23 02:25] filmaj commented on #117
This issue also impacts work we want to accomplish in the current sprint (#126) so it would be good to understand if what was discussed in here is still in flux or if it is settled and we can move forward.

[2019-02-23 02:25] filmaj commented on #126
@simonwex  is this a P1 or a P2?

[2019-02-23 02:32] filmaj commented on #121
Maybe @trieloff and helix crew have some suggestions on how to approach this.

[2019-02-23 02:34] filmaj commented on #124
This is closely related to #114.

[2019-02-23 02:38] filmaj commented on #128
I'm removing 'plan for ci' from this issue as it's already tracked in #44.

[2019-02-23 02:44] filmaj commented on #131
We also have a seemingly duplicate issue in #19.

[2019-02-23 02:45] filmaj commented on #132
This may be related to #44

[2019-02-24 12:10] tripodsan commented on #121
I don't think this will be a problem. eventually, they will be cached.
but using webpack or parcel to bundle the css etc would certainly help in any case.

[2019-02-24 12:14] tripodsan commented on #133
nice finding!

what is weird is the statuscode:

[code]

I don't know what runtime will send back to fastly, but I guess not a 200 :-(
so maybe this is the problem? I'll take a closer look again next week.

[2019-02-25 01:26] kgera commented on #132
That is correct @filmaj  do you want me to close this issue and track the old one only?

[2019-02-25 01:34] kgera commented on #2
yes @filmaj this has to remain open. We are tracking redirects which is a sub-issue in DevRel JIRa board.

[2019-02-25 01:36] kgera commented on #132
Yes @filmaj, i was also thinking if you want to talk about it in this sprint's task.

[2019-02-25 02:46] kgera commented on #127
Here are the guidelines for change management: https://inside.corp.adobe.com/content/dam/corporate-policies/documents/ChangeManagementStandard.pdf and the blackout dates are 25th Feb - 1st March, 2019 and https://wiki.corp.adobe.com/display/WEM/Change+Blackout+Calendar+2019 is the reference.

[2019-02-25 02:57] kgera commented on #137
@filmaj  I had a conversation with Lars on and this was a similiar question i had brought up with him on lines of a custom VCL configuration for fastly which cannot be used , we will need to use proxy strains: https://github.com/adobe/helix-cli/issues/347, we can discuss this more offline.

[2019-02-25 08:09] kgera opened #140 "Handling redirects in helix"
Since helix takes over when publishing happens with helix config, so custom vcl in fastly cannot be used which is challenging when we have a large number of redirect rules. Finding an approach where there could be a way in helix to handle all redirect rules by configuration.

[2019-02-25 08:13] kgera opened #141 "Helix Support Process for Developer Website"
Develop a support process for developer website when in production on situations like downtime, deployment issues. Who will support? Whom to reach out in case of any deployment on helix that affects the website? If we have latest helix version on master then what happens if any deployment in master impacts the production? Any maintenance activities? Plan for alerts setup for monitoring, etc.

[2019-02-25 08:14] trieloff commented on #121
Our working hypothesis (pushed by @davidnuescheler) is that we don't need static asset bundling, as the client-side advantage is negligible (thanks to HTTP2) but that it adds overhead during development.

I'd table this for dev site until we have good `hlx perf` measuring established, then we can experiment with some strains using bundling and some not.

[2019-02-25 08:32] trieloff commented on #7
At the last hackathon, @ejthurgo has been working on a feature that would delegate strain resolution to a micro service, which at some point could be used to verify IMS cookies to create a true verification system for logged in users.

[2019-02-25 13:55] cassiemc commented on #126
Would love to know what areas need compromise, we are quite happy to discuss design and tweak comps if that's helpful. Who should @britburger and I reach out to set up a quick meeting? @filmaj are you building this, or @stevengill? /cc @simonwex

[2019-02-25 14:52] filmaj commented on #121
That sounds good to me. On a different (side) project of mine I've stopped bundling JS completely, leveraged HTTP2's parallel loading and have proper caching in place and it works really well.

I do worry about ensuring proper caching is happening (#137), as, if it is not, the runtime 600 requests per minute limit would be quickly consumed with just a tiny bit of load. That was the impetus for fil

[2019-02-25 14:59] filmaj commented on #126
@cassiemc both @stevengill and I are building this stuff out, yep. Happy to get on a call and chat.

[2019-02-25 15:07] filmaj commented on #140
@kgera just so I'm clear: we need a custom vcl in fastly to support various redirects for the existing .io site, is that correct? So this issue is about reconciling helix-config-based VCL with our own custom (legacy) VCL needs. Is that right?

[2019-02-25 15:20] filmaj opened #142 "Make UI tests agnostic of outside content"
Some of the current UI tests inspect and assert on content (on homepage and other doc strains). Some of this content is not revisioned in this repo, and so could change at any time. While homepage content is revisioned in this repo, docs content is not.

It would be better to assert on other things for e.g. docs and marketing page strains. Maybe better to assert on template parameters for these pa

[2019-02-25 15:21] filmaj commented on #2
@kgera could you post the link to the JIRA issue please?

[2019-02-25 15:22] filmaj commented on #132
@kgera if there is 100% overlap, then yes I say we close this duplicate issue and focus our updates in just one issue, to make things simple 😄

[2019-02-25 15:30] kptdobe commented on #142
Actually, that's the exact reason why I did not use a proper browser framework in my initial smoke tests: I only tested if some dom elements are in the response which does not require anything else that a GET function ;)
It is still not clear to me how we can make those e2e content agnostic.
If you know the content, you know the output, thus fixing the content should certainly be the right solutio

[2019-02-25 15:36] filmaj commented on #142
The templates the content is shown in are revisioned in this repo, so we could assert on that.

This is more of a helix discussion (adobe/helix-cli#582) and less of a dev-site discussion, but why not simplify with: have helix pull in the actual content markdown used in the content repo, and as part of whatever CI/CD framework helix recommends, ensure that content is present SOMEWHERE in the final

[2019-02-25 15:41] kptdobe commented on #142
You are right saying it is an Helix discussion topic. But since you have a real life example... ;)

Your solution does not work because the dev (via the `pre.js` and `htl` template) can do whatever he wants with the content: do not render it, transform it... there is no way to guess the result.

Only a dev would know for input A, I must have output B and tests must be written with certitudes, not

[2019-02-25 16:08] cassiemc commented on #126
Thanks @filmaj! Just sent an invite to you and @stevengill

[2019-02-25 17:35] filmaj commented on #133
I tried redeploying the site with the latest helix-cli master, which includes the fix from https://github.com/adobe/helix-cli/issues/585 (always return status code 200) but that didn't seem to help much. 😞

[2019-02-25 17:47] filmaj commented on #141
Closing as a duplicate. We have #128 (operation support for helix & fastly) and #134 (monitoring uptime).

[2019-02-25 17:47] #141 closed

[2019-02-25 18:36] stevengill commented on #86
Not having events on homepage for now

[2019-02-25 18:36] #86 closed

[2019-02-25 19:16] filmaj commented on #114
@simonwex is this a P1 or P2?

[2019-02-25 19:32] filmaj commented on #87
Meeting to be scheduled still.

[2019-02-25 19:33] filmaj commented on #117
I'm going to close this in favour of tracking everything here in #126.

[2019-02-25 19:33] #117 closed

[2019-02-25 19:34] filmaj commented on #126
FYI a rough cut at an agenda for our call (from my perspective, I'm sure there's more):

- we have no events, so need to turf that (as a result we closed #86)
- medium avatars and the difficulty of implementing this right now
- do we have a ‘source of truth’ for the mocks? id like to document that somewhere

[2019-02-25 20:15] #131 closed

[2019-02-25 20:17] jenlgray commented on #19
@simonwex Let's use this issue. You asked where this would live in the IA? I was thinking this would be a banner on the homepage. I'm not sure where "manage preferences" would live permanently though.

[2019-02-25 20:26] stevengill commented on #126
Leave design comments on https://xd.adobe.com/view/8021d9d0-7575-4b01-4121-2fecf710494a-f610/

[2019-02-25 20:53] cassiemc commented on #125
@simonwex Could be helpful to present the stakeholder research findings #41. Lmk if I can help, happy to be a part of this effort.

[2019-02-25 20:54] filmaj commented on #126
I've left comments re: avatars on blog list and scrapping the upcoming events list on the homepage in the XD file cc @cassiemc

[2019-02-25 21:44] kgera commented on #140
@trieloff  here's the stage redirect rules list
[StageRedirectRules.txt](https://github.com/adobe/developer.adobe.com/files/2902725/StageRedirectRules.txt)

I will put in an excel if needed in proper format.

[2019-02-25 21:45] filmaj commented on #133
FWIW even after deploying w/ helix-cli `0.13.6-pre.8`, I still see the `statusCode` from the runtime response (as per `wsk activation get <id>`) saying statusCode: 0.

[2019-02-25 21:47] kgera commented on #140
@filmaj yes, we have a lot of redirect rules that need to be moved from existing dispatcher to fastly but doing that manually is a very tedious process, so i wanted to use a custom vcl. However, Lars educated me on how helix takes over the fastly config and hence, we cannot use the custom vcl which leaves us with two choices either manually adding each rule in fastly config for every redirect or j

[2019-02-25 22:09] filmaj commented on #133
Per @rofe, it seems like the packaged `static.zip` used for the static action was not updated as part of me using the latest helix-cli. I've had to modify the deploy script so that it wipes out the `.hlx` directory before deploying (see 9b235484fc3276b3c663f9aabca93d9f07d15c4c). Now can confirm the latest static action has the correct code, including returning the proper status code... tho only in

[2019-02-25 22:28] filmaj commented on #133
I've noticed something else that seems weird to me. Not sure if worth spinning out into a separate issue, or if it is related to the static file failures or not, but I will dump a report in here anyways. We can spin it out into different issues as we see fit.

So, as has been documented in this issue, loading the devsite usually yields a bunch of 404 responses to static resources such as CSS, some

[2019-02-25 22:35] filmaj commented on #132
Closing in favour of #44.

[2019-02-25 22:35] #132 closed

[2019-02-26 00:27] tripodsan commented on #133
because this is how the static delivery currently works.
fastly doesn't know if a (non image) resource is part of the content or part of the static. so it first sends the request to the `html` action. if that returns with a 404, it then sends it to the static action. for images, it checks first the content git repo, and if 404, it asks static.

I see some solutions to improve this:

0. add `.css`

[2019-02-26 07:57] trieloff commented on #140
@kgera you have quite a number of Regex-based rules here. In
https://github.com/adobe/helix-cli/issues/587 I hoped that we could get away without pattern matching. Do you think this will be a problem?

[2019-02-26 14:25] filmaj commented on #128
FYI @trieloff suggested a slack channel, #helix-escalations, where we can pull helix folks in on this topic. See https://adobeio.slack.com/archives/C9KD0TT6G/p1551169197071500

[2019-02-26 14:58] filmaj commented on #128
@simonwex why should the document be private? I really love gitlab's runbook, which is all open: https://gitlab.com/gitlab-com/runbooks

[2019-02-26 15:07] britburger commented on #74
Sharing more great examples of background gen-art:

- https://research.hackerrank.com/developer-skills/2019
- https://crazycooldevelopers.com/

And I could see a tool such as the following processing sketch being employed as a way to generate assets:
- https://www.openprocessing.org/sketch/536150

[2019-02-26 18:20] filmaj commented on #135
Nice job on the PR @stevengill !

[2019-02-26 18:20] #135 closed

[2019-02-26 19:07] cassiemc commented on #126
@filmaj @stevengill The comps have been updated and replace on the same link (https://xd.adobe.com/view/8021d9d0-7575-4b01-4121-2fecf710494a-f610/ ) with events and medium avatars removed. Let us know if you need anything else!

[2019-02-26 19:12] cassiemc commented on #38
@cmgeorge16 I specifically removed names / positions and id'ing info from this doc (as opposed to the original doc you and I worked on) and have posted it publicly as per @simonwex's request. If there's anything else iffy there could you please flag it for us specifically?; I'll leave the rest up to Adobe staff and @simonwex for final vetting.

FWIW, best process for a flagging something in a clos

[2019-02-26 20:03] stevengill commented on #126
thanks for the updates @cassiemc!

We got the site running again over at https://adobedevsite.helix-demo.xyz/.

I'd love some design feedback on the docs site when you have a chance.
- https://adobedevsite.helix-demo.xyz/xd/docs
- https://adobedevsite.helix-demo.xyz/launch/docs
- https://adobedevsite.helix-demo.xyz/starter/docs

[2019-02-26 21:08] filmaj commented on #133
Alright so I'm not sure what happened but I think this is fixed.

@stevengill deployed the site based on the code in #147, which is just `helix-config.yaml` changes. Now when I go to load https://adobedevsite.helix-demo.xyz/, I don't see any static site failures. I just tried loading the site 20 times in a row in my browser and can't reproduce.

As a result, I am closing this!

[2019-02-26 21:27] stevengill opened #148 "Add support for some custom markdown extensions"
Paul G's team supports the following custom markdown extensions. We should consider supporting them in our docs sites too.

Full List:
https://git.corp.adobe.com/AdobeDocs/contributor.en/blob/master/help/writing-essentials/using-markdown.md#custom-markdown-extensions

You can choose from four types of note blocks to draw attention to specific content:

- `[!NOTE]`
- `[!CAUTION]`
- `[!TIP]`
- `[!IM

[2019-02-26 21:47] Gipaul commented on #148
We also use [!VIDEO] url
to render an embedded video from Youtube or Adobe

[2019-02-26 21:54] stevengill opened #150 "asset linking in content repos is broken"
Example, look at the img at https://adobedevsite.helix-demo.xyz/starter/docs

I do a rewrite of the `src` attribute to make it absolute, but fastly adds a srcset which i don't do anything to.

[code]

Deleting `srcset` makes the img show up. Need to re-write `srcset` to be absolute links

[2019-02-26 21:56] stevengill commented on #133
Reopening this as the random missing static files is back. We changed nothing from the previous message fil posted.

Ex: go to https://adobedevsite.helix-demo.xyz/starter/docs

In console the random missing static files change with each refresh.

[code]

[2019-02-26 21:57] filmaj commented on #150
Nice find

[2019-02-26 22:35] stevengill opened #151 "make a POC of using this site with https://github.com/adobeDocs/contributor.en"
This would be a good POC to show us working with Paul G's styled content repos. Probably do a fork or branch of it adding summary.md and see how it looks.

https://github.com/adobeDocs/contributor.en

[2019-02-26 22:57] filmaj commented on #151
Is your thinking of doing this in order to show off #148 ?

[2019-02-26 23:31] tripodsan commented on #137
I think for the static caching, we need https://github.com/adobe/helix-publish/pull/7 to be solved. otherwise the static requests are never truly cached.

[2019-02-26 23:50] filmaj commented on #133
Using a chrome extension that @tripodsan recommended to me, I set `X-Debug:true` header for all requests in a browser session.

Interestingly, now for many requests, I get `cancelled` in the chrome network tab. Unclear what this means... need to dig into this more.

<img width="844" alt="screen shot 2019-02-26 at 5 49 25 pm" src="https://user-images.githubusercontent.com/52645/53455053-e516ff00-39

[2019-02-27 00:47] tripodsan commented on #133
I modified the (live) VCL to add more information. this is the trace of a good response:

[code]

this one of a bad response:

[code]

[2019-02-27 00:54] tripodsan commented on #133
also note, for the 2nd backend request, the `path` parameter is wrong....

[2019-02-27 01:28] tripodsan commented on #133
I disabled caching of 404 completely in `vlc_fetch` and now it seems to work better:

[code]

[2019-02-27 04:46] tripodsan commented on #133
btw, I fixed it directly in the active fastly VCL. so don't re-publish before https://github.com/adobe/helix-cli/issues/591 is fixed :-)

[2019-02-27 13:45] filmaj commented on #133
Yeahhhhh! HUGE!

[2019-02-27 17:47] filmaj commented on #134
Progress from this issue should be folded in #145.

[2019-02-27 18:39] filmaj commented on #134
Notes from our call on this were kept here: https://docs.google.com/document/d/1CjsAAS3zLXhEZJBUGF85bMPMbj3A6klDEF8ZekJQrEU/edit#heading=h.wwc15vjww3f

Next step is to fold this information back into the PR in #145 - I will take this on.

[2019-02-27 18:39] filmaj commented on #128
Notes from our call on this were kept here: https://docs.google.com/document/d/1CjsAAS3zLXhEZJBUGF85bMPMbj3A6klDEF8ZekJQrEU/edit#heading=h.wwc15vjww3f

Next step is to fold this information back into the PR in #145 - I will take this on.

[2019-02-28 07:32] kgera commented on #140
@trieloff  Considering our current use cases, non-existence of  pattern matching would be a problem. Eg: Scope of changes for rebranding ACP to Adobe Experience Platform would have been extremely wide in helix if we don't go with patterns, there are several pages and child pages and listing redirects in excel for each will be very tedious and a lot of manual validation would be needed.

[2019-02-28 15:27] cassiemc commented on #5
@filmaj I'm fine with hosting it as part of the repo, how does one do that? And I'm more than fine with closing the issue! There does not seem anything imminently actionable on it.

Here are the files (XD source in the zip, as well as a static png here). I've added a large WIP so that others know it is a working document.

![devsite ia v0 5 wip](https://user-images.githubusercontent.com/1186326/53

[2019-02-28 15:27] #5 closed

[2019-02-28 16:04] trieloff commented on #140
Not what I hoped for, but I think you are right.

[2019-02-28 16:33] trieloff commented on #134
I took a first stab at creating https://status.project-helix.io - details tracked here https://github.com/adobe/project-helix/issues/383

[2019-02-28 16:41] filmaj commented on #5
@cassiemc thanks for sharing the zip! I've added it to the repo in 7b995cf under the `xd/` folder. May I ask that in the future, if y'all end up making changes to the file, that you update the file revisioned in this repository? I can show you how to do that if you'd find that helpful.

[2019-02-28 16:45] filmaj commented on #134
Wow very cool! I'll look at adding this into the operational plan proposal PR.

[2019-02-28 21:31] cassiemc opened #153 "Create target users doc with personas, scenarios, and user stories"
Write & prioritize user stories, use cases and personas. Gather existing persona work and draw from stakeholder research to cement these. This doc should ultimately inform user test criteria as well as user journey mapping.

Meta issue is #20

[2019-02-28 21:45] cassiemc commented on #125
@simonwex FYI, I finally found this thing I'd written awhile back when discussing contributor guidelines. In case any of these words are helpful, take 'em or leave 'em!:

...

Kickoff email:
Feel free to edit! Nothing precious here as far as I’m concerned – Cassie

Good afternoon,

Over the past [few months] it has become clear that the Adobe.io website has huge potential to integrate, showcase, a

[2019-02-28 21:57] cassiemc opened #154 "Synthesize competitor research"
We've already started looking at lots of other sites/ecosystems but we will need to determine a final competitors list in order to validate and ultimately close this issue. @simonwex are there specific sites you want looked at, and specific questions to ask? Let's start a doc.

The dev eco team also has some research in this dept that they have kindly shared with us. We will also look specifically

[2019-02-28 23:18] filmaj commented on #87
We met about this today. Here are the notes:

----

@simonwex's rando thoughts:
We have two goals with open source at Adobe. First of all, we’d like to evolve the culture of open source within adobe. Secondly, we’d like to improve the reputation of Adobe with external developers.

@wielmic: is there policy around this?
Nope, we run the open source office, so we make the policy.
We already provide

[2019-03-01 00:51] simonwex commented on #154
A list of competitor sites in no particular order:
 * https://developer.google.com
 * https://developer.sketchapp.com/
 * https://developer.salesforce.com/
 * https://developers.facebook.com/docs/marketing-apis/
 * https://www.tableau.com/developer

[2019-03-01 16:08] cassiemc commented on #87
Thanks for sharing notes / transparency! Removed the design label, realize it's more a content issue. You guys got this. 💪

[2019-03-01 18:08] cassiemc opened #155 "Content audit"
We started, then abandoned, this. We should have a discussion around how content will be developed, revised, and implemented, which should inform what we need in the audit.

The beginnings of this endeavour are here:
https://docs.google.com/spreadsheets/d/1UqFOqK7koliI4LTGe6ZD2o7fMv7w-IRw7nlAf0OvqLI/edit?usp=sharing

[2019-03-01 18:22] filmaj commented on #87
Incoming data! I am scoping the data to all of 2018, so I don't know if that fits the definition of "recent" (from the last meeting notes). We can adjust the data as we see fit. I should have data up to and including Feb 2019, and we can slice it up however we want (monthly, quarterly, yearly, whatever).

### Top 20 repos (that gained at least 1 star in 2018) Adobians committed to in 2018 (at leas

[2019-03-01 18:22] filmaj commented on #87
FYI @simonwex @jenlgray @jahoni @stevengill @kgera @wielmic first data dump above ☝️ still working on getting the 'recent discussions' data put together.

[2019-03-01 18:23] cassiemc opened #156 "Define design goals/success metrics"
We've done this already in various capacities, let's formalize it here as part of our more structured design process.
[Preliminary design brief](https://docs.google.com/document/d/1eVqp9elPOoEMulyHBQojaBadwFk-3C1Uip_A2dcf78o/edit?usp=sharing) from ages ago, for reference (if you need access, please request)

[2019-03-01 18:24] cassiemc commented on #155
@jahoni @jenlgray @stevengill @filmaj @simonwex Anyone know if the existing site has been archived, so we can access "old" content, ongoing?

[2019-03-01 18:49] cassiemc commented on #20
This is being better tracked now in a google sheet. See https://docs.google.com/spreadsheets/d/1pOg2NGTqvUiNgLdDwtK-F93rW62PdDkUWTjDGyMyp2I/edit?usp=sharing

Details will change, screenshot for preview only. [CLICK THE LINK!](https://docs.google.com/spreadsheets/d/1pOg2NGTqvUiNgLdDwtK-F93rW62PdDkUWTjDGyMyp2I/edit?usp=sharing) :)
![screen shot 2019-03-01 at 1 47 25 pm](https://user-images.githubuse

[2019-03-01 18:49] #20 closed

[2019-03-01 18:59] cassiemc commented on #67
@filmaj We hit an impasse, not being able to work with the XD team. @simonwex do you have an idea on where to take this next? We can put it on hold until #156 is resolved, or push it ahead as we had with the homepage (knowing it's subject to change).